.popup-container {
  max-width: 250px;
  padding: 5px;
  color: var(--text-color);
}

.popup-image {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin: 8px 0;
  border: 1px solid var(--border-color);
}

.popup-container h3 {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 16px;
  color: var(--text-color);
}

.popup-container p {
  margin-bottom: 8px;
  font-size: 14px;
  color: var(--text-color);
}

.popup-container a {
  color: var(--link-color);
  text-decoration: none;
}

.popup-container a:hover {
  color: var(--button-hover-bg-color);
  text-decoration: underline;
}
